/*-- scss:defaults --*/

/*-- scss:rules --*/

.small {
  font-size: 0.75em;
}

.smaller {
  font-size: 0.5em;
}

.large {
  font-size: 1.25em;
}

.larger {
  font-size: 1.5em;
}

.largest {
  font-size: 3em;
}

.reveal .slide .v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}